@use 'reset';
@use 'foundation';
@use 'component';
@use 'common';
@use 'top';
@use 'login-register';
@use 'variable' as v;

h1:not([class]) {
  margin-bottom: 1em;
}
h2:not([class]) {
  margin-bottom: 0.5em;
}
a:not([class]) {
  text-decoration: underline;
}
time {
  font-size: 12px;
  text-decoration: none;
}
.section {
  padding: 64px 0;
}

.d-dash-qlist {
  li {
    padding: 16px;
    background-color: #fafafa;
    border-radius: 10px;
    &:not(:first-of-type) {
      margin-top: 8px;
    }
  }
}

.question-pagination {
  margin-top: 40px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444444;

  &--diyer {
    background-color: var(--baseSubColor);
  }
  &--mentor {
    background-color: var(--baseColor);
  }
}
